%ul.repositories
  %li= link_to "All", url(:index)
  - LogItem.all.map(&:repository).uniq.each do |r|
    %li{ class: params[:repository] == r ? "active" : nil }
      = link_to r, url(:repository, repository: r)

%h1
  - if params[:repository]
    #{ params[:repository] } commits
  - else
    All commits

- @log_items.desc(:created_at).only(:repository).group.each do |r|
  - unless params[:repository]
    %h2= r["repository"]
  %ul.commits
    - r["group"].each do |i|
      - i.commits.desc(:timestamp).each do |c|
        %li
          %h3
            %strong= c.author
            \-
            = c.timestamp.strftime("%m/%d/%Y @ %I:%M%p")
          %p.message= c.message
